<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ i18n.t('genre.title') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="genre-selection-content">
  <div class="container">
    <div class="genre-grid">
      @for (genre of availableGenres; track genre.id) {
        <ion-card
          (click)="toggleGenre(genre)"
          [class.selected]="isSelected(genre.id)">
          <ion-card-content>
            <ion-icon
              [color]="isSelected(genre.id) ? 'primary' : 'medium'"
              [name]="genre.icon || 'library-outline'"
              size="large">
            </ion-icon>
            <h3>{{ genre.name }}</h3>
            <ion-icon
              [color]="isSelected(genre.id) ? 'primary' : 'medium'"
              [name]="isSelected(genre.id) ? 'checkmark-circle' : 'ellipse-outline'"
              class="selection-icon">
            </ion-icon>
          </ion-card-content>
        </ion-card>
      }
    </div>

    <div class="selection-info">
      <p>{{ selectedCount() }}/4 {{ i18n.t('genre.selected') }}</p>
    </div>

    <ion-button
      (click)="saveAndContinue()"
      [disabled]="!canContinue()"
      expand="block">
      {{ i18n.t('genre.continue') }}
    </ion-button>
  </div>
</ion-content>
